@import 'common/variables';

// Import npm dependencies
@import '~foundation-sites/scss/foundation';

@include foundation-everything;

// Import theme styles
@import 'common/fonts';
@import 'common/global';
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'components/wp-classes';
@import 'layouts/header';
@import 'layouts/sidebar';
@import 'layouts/footer';
@import 'layouts/pages';
@import 'layouts/posts';
@import 'layouts/tinymce';
@import 'layouts/sections';
@import 'components/nav';
@import 'components/home';

.main {
  margin-top: 100px;

  @include breakpoint(medium down) {
    margin-top: 78px;
  }
}

.home-our-clients,
.home-reviews {
  display: none;
}
