# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/cmb2/*
!web/app/plugins/cmb2
!web/app/plugins/fooevents
!web/app/plugins/woocommerce-eu-vat-assistant
!web/app/plugins/woocommerce-gateway-stripe
!web/app/plugins/wc-aelia-foundation-classes
!web/app/plugins/wp-sync-db
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/uploads/GeoLite2-City.mmdb

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
