@font-face {
  font-family: 'Camphor';
  src: url('../fonts/Camphor-Thin.eot');
  src: url('../fonts/Camphor-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Camphor-Thin.woff2') format('woff2'),
    url('../fonts/Camphor-Thin.woff') format('woff'),
    url('../fonts/Camphor-Thin.ttf') format('truetype'),
    url('../fonts/Camphor-Thin.svg#Camphor-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Camphor';
  src: url('../fonts/Camphor-Regular.eot');
  src: url('../fonts/Camphor-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Camphor-Regular.woff2') format('woff2'),
    url('../fonts/Camphor-Regular.woff') format('woff'),
    url('../fonts/Camphor-Regular.ttf') format('truetype'),
    url('../fonts/Camphor-Regular.svg#Camphor-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Camphor';
  src: url('../fonts/Camphor-Bold.eot');
  src: url('../fonts/Camphor-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Camphor-Bold.woff2') format('woff2'),
    url('../fonts/Camphor-Bold.woff') format('woff'),
    url('../fonts/Camphor-Bold.ttf') format('truetype'),
    url('../fonts/Camphor-Bold.svg#Camphor-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Camphor';
  src: url('../fonts/Camphor-Light.eot');
  src: url('../fonts/Camphor-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Camphor-Light.woff2') format('woff2'),
    url('../fonts/Camphor-Light.woff') format('woff'),
    url('../fonts/Camphor-Light.ttf') format('truetype'),
    url('../fonts/Camphor-Light.svg#Camphor-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Camphor';
  src: url('../fonts/Camphor-Medium.eot');
  src: url('../fonts/Camphor-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Camphor-Medium.woff2') format('woff2'),
    url('../fonts/Camphor-Medium.woff') format('woff'),
    url('../fonts/Camphor-Medium.ttf') format('truetype'),
    url('../fonts/Camphor-Medium.svg#Camphor-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
