// Variables
$breakpoints: (
  small: 0,
  medium: 415px,
  large: 769px,
  xlarge: 1221px,
  xxlarge: 1441px,
);

// Colors
$brand-primary: #27ae60;
$brand-purple: #92278f;
$green: #6ac473;
$new-purple: #b76ac4;
$font-grey: #6d6e71;
$white: #fff;
$black: #000;
$blue-shadow: #32325d;
$section-grey: #fbfbfb;
$service-border: #f9f9f9;
$box-shadow: rgba(0, 0, 0, .1);
$triangle-grey: #e2e2e2;
$section-blue: #f6f9fc;
$footer-border: #f3f4f6;
$link-blue: #6772e5;
