// Buttons
.button {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba($black, .08), 0 4px 6px 0 rgba($blue-shadow, .11);
  color: $white;
  display: flex;
  flex: 0 0 40px;
  font-weight: bold;
  height: 40px;
  padding: 0 14px;
  text-transform: uppercase;
  transition: all .25s linear;

  &.button--purple {
    background: $new-purple;
  }

  &:hover {
    box-shadow: 0 1px 3px 0 rgba($black, .15), 0 4px 6px 0 rgba($blue-shadow, .2);
    transform: translateY(-2px);
  }
}
