// Search form
label {
  font-weight: 500;
}

.wpcf7 {
  width: 100%;
}

.wpcf7-text,
.wpcf7-textarea {
  border: 1px solid $triangle-grey;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 10px;
}
